{% extends "base.html" %}
{% load bootstrap %}

{% block content %}

{% if not request.user.is_authenticated %}


<div style='margin-top: 30px; padding-left: 700px;padding-right: 700px;' > 
    <form method = 'POST'> {% csrf_token %}
        {{ form|bootstrap }} 
        
        <button type="submit" style = 'margin-top: 20px;'>Login</button>
    </form>
    <p>Se já possui uma conta entre <a href='/login'>Aqui</a>!</p>
</div>
{% else %}
<p> Você está logado em nosso sistema, para fazer uma nova conta você deve <a href="/logout/"> deslogar</a> ?> </p>
{% endif %}
{% endblock %}